.CTA {
    font-family: 'Libre Caslon Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(2.5rem, 8vw, 6rem);
    /* identical to box height */
    text-align: center;
    color: #FEC530;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 3px;
    paint-order: stroke fill;
}
/* VISUAL CATALOG */

.glassCardHero{

  color: white;
  text-align: center;
  background: rgba(255, 255, 255, 0.05);
  border-top: 0.5px solid rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(12px);
}




