.cta {
  font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow 1.5s ease-in-out infinite alternate;
  font-size: 3rem;
   @media (min-width: 780px) {
    font-size: 4rem;
  }
   @media (min-width: 1024px) {
    font-size: 4.5rem;
  }
}

@keyframes glow{
  from {
    text-shadow: 
      0 0 1px #fff;
  }
  to {
    text-shadow: 
     0 0 5px rgba(255, 255, 255, 0.7),
     0 0 10px rgba(255, 255, 255, 0.5), 
     0 0 15px rgba(255, 255, 255, 0.3);
  }
}

.glow {
  text-shadow: 
    0 0 10px #fff
}

.radial-gradient {
   background: #182D6A;
   background: radial-gradient(circle, #182d6a 0%, #171052 54%, #0a0823 100%);
}

.section-header{
    font-size: 2.25rem; /* 36px */
    font-weight: 700; /* bold */
    @media (min-width: 1024px) {
    font-size: 3.75rem
  }
}

.orb-container-clickable .orb {
  transition: all 0.3s ease-in-out;
}

.orb-container-clickable:hover .orb {
  filter: drop-shadow(0 0 12px rgba(255, 255, 255, 0.7));
  transform: scale(1.05);
}

.about-gradient{
    background-image: linear-gradient(to bottom,
    rgba(22,16,80, 1),
    rgba(0, 0, 0, 0), 
    rgba(10, 8, 36, 1)
    );
}

.applynow{
  color: #cf8fbe;
  text-align: center;
  animation: applyGlow 1.5s ease-in-out infinite alternate;
}

@keyframes applyGlow{
  from {
    text-shadow: 
      0 0 1px rgba(197, 75, 140, 0.7);
  }
  to {
    text-shadow: 
     0 0 5px rgba(197, 75, 140, 0.7),
     0 0 10px rgba(197, 75, 140, 0.5), 
     0 0 15px rgba(197, 75, 140, 0.3);
  }
}