@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --font-insideout: "InsideOut", ui-sans-serif, system-ui, sans-serif;
  --font-pixar: "Pixar", ui-sans-serif, system-ui, sans-serif;
  --font-waltograph: "Waltograph", ui-sans-serif, system-ui, sans-serif;
  --font-times: "Times New Roman", ui-serif, Georgia, serif;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-blue-900: #0A0823;
  --color-blue-800: #171052;
  --color-blue-700: #182D6A;
  --color-yellow-200: #F7D991;
  --color-beige-200: #ECA974;
  --color-rose-200: #D7A4A0;
  --color-green-500: #05A54C;
  --color-green-700: #05674A;
  --color-yellow-600: #CAA64F;

  --color-marketing: #AD2B17;
  --color-customer-care: #CA6702;
  --color-literary: #F6BB46;
  --color-office: #05A54C;
  --color-layout: #036074;
  --color-web: #C54B8C;
  --color-photo: #C5ADEC;

}

body{
    background-color: var(--color-blue-900);
    color: white;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "InsideOut";
  src: url("./assets/fonts/InsideOut-DAp0.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pixar";
  src: url("./assets/fonts/Pixar.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Waltograph";
  src: url("./assets/fonts/waltograph42.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face{
    font-family: "Times New Roman";
    src: url("./assets/fonts/Times-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
